@page "/"

<PageTitle>Chatbot</PageTitle>

<div class="container">
    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
            <div class="messages">
                <div class="response">Test question</div>
                <div class="question">Test answer</div>
            </div>
            <div class="textMessage">
                <input @bind="message" />
                <button @onclick="SendMessage">Send</button>
            </div>
        </div>
        <div class="col-4">
        </div>
    </div>
</div>

@code{
    public string message;

    protected override async Task OnInitializedAsync()
    {

    }

    public async Task SendMessage()
    {

    }
}


